* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #202020;
  color: gold;
}

form {
  border: 2px solid #505050;
  border-radius: 1em;
  box-shadow: -2px -2px 10px rgba(50, 50, 50, 0.8), 2px 2px 10px rgba(10, 10, 10);
  width: 80%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em;
  margin-top: 3em;
}

form h2 {
  margin-bottom: 1em;
  text-align: center;
  color: rgb(0, 184, 0);
  font-size: 2rem;
}

form input,
form select,
form button {
  width: 100%;
  background-color: transparent;
  border: 2px solid #505050;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1.6rem;
  color: rgb(218, 185, 0);
  /* appearance: none;  */
}


select option {
  background-color: #202020;
  color: rgb(184, 184, 184);
}

form button {
  color: rgb(194, 18, 53);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

form button:active {
  transform: scale(1.05);
}

ul {
  width: 80%;
  max-width: 800px;
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
}

ul li {
  border: 2px solid #505050;
  border-radius: 1em;
  box-shadow: -2px -2px 8px rgba(50, 50, 50, 0.8), 2px 2px 8px rgba(10, 10, 10);
  font-size: 1.4rem;
  color: rgb(227, 227, 227);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li .wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

ul li button {
  background-color: transparent;
  border: none;
  outline: 2px solid rgb(191, 65, 90);
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1.1rem;
}

ul .total {
  border: 2px solid #505050;
  border-radius: 1em;
  box-shadow: -2px -2px 8px rgba(50, 50, 50, 0.8), 2px 2px 8px rgba(10, 10, 10);
  padding: 1em;
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(0, 184, 0);
  margin: 1.5em 0;
}