* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #202020;
  color: #505050;
}

form {
  border: 2px solid #505050;
  border-radius: 1em;
  box-shadow: -2px -2px 10px rgba(50, 50, 50, 0.8), 2px 2px 10px rgba(10, 10, 10);
  width: 80%;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em;
  margin-top: 3em;
}

form h2 {
  margin-bottom: 1em;
  text-align: center;
  color: tomato;
  font-size: 2rem;
}

form input,
form select,
form button {
  width: 100%;
  background-color: transparent;
  border: 2px solid #505050;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1.6rem;
  color: #c1c1c1;
  /* appearance: none;  */
}

/* Remove default arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}



select option {
  background-color: #202020;
  color: rgb(184, 184, 184);
}

form button {
  background: tomato;
  color: #202020;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
}

form button:active {
  transform: scale(1.05);
}

table {
  box-shadow: -2px -2px 10px rgba(50, 50, 50, 0.8), 2px 2px 10px rgba(10, 10, 10);
  width: 80%;
  max-width: 500px;
  margin: 3em auto;
  border-collapse: collapse;
  color: rgb(227, 227, 227);
  font-size: 1.4rem;
}

thead th {
  text-align: center;
  padding: 0.8em 1em;
  font-weight: bold;
  border: 2px solid #505050;
}

tbody td {
  padding: 1em;
  border: 2px solid #505050;
  text-align: center;
}

table button {
  background-color: transparent;
  border: none;
  outline: 2px solid rgb(191, 65, 90);
  border-radius: 0.5em;
  padding: 0.4em;
  font-size: 0.8rem;
}

table button:active {
  transform: scale(1.1);
}

tfoot tr {
  border: 2px solid #505050;
}

tfoot th {
  border: 2px solid #505050;
  padding: 1em;
  font-size: 1.4rem;
  font-weight: bold;
  color: tomato;
  text-align: center;
}