*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  height: 100%;
  font-family: arial;
}

body {
  background: #202020;
}

.form{
  border: 2px solid #505050;
  border-radius: 1em;
  box-shadow: -2px -2px 10px rgba(50,50,50), 2px 2px 10px rgba(0,0,0);
  width: 80%;
  margin: auto;
  padding: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
}

.form h2{
  font-size: 2.5rem;
  margin-bottom: 1em;
  color: orange;
}

.form input{
  border: 2px solid #505050;
  width: 100%;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  background: transparent;
  font-size: 1.6rem;
  color: rgb(222, 222, 222);
}

.form button {
  width: 100%;
  padding: 0.5em;
  background: orange;
  outline: none;
  border: 2px solid #505050;
  border-radius: 0.5em;
  font-size: 1.6rem;
  font-weight: bold;
}

ul {
  /* border: 2px solid green; */
  width: 80%;
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
}

ul .todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4em;
  border: 2px solid #505050;
  border-radius: 1em;
  box-shadow: -2px -2px 10px rgba(50,50,50), 2px 2px 10px rgba(0,0,0);

}

ul li {
  font-size: 1.8rem;
  color: rgb(227, 227, 227);
  padding: 1em 0;

}

ul .btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}

ul .btnContainer button {
  display: inline-block;
  background: transparent;
  border: none;
  font-size: 2rem;
}

ul .btnContainer .doneBtn{
  color: green;
}

ul .btnContainer .deleteBtn{
  color: crimson;
}


.done {
  text-decoration: line-through;
  text-decoration-color: rgb(227, 227, 227);
  text-decoration-style: wavy;

}