*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.smallCursor{
    width: 0.4em;
    height: 0.4em;
    background-color: crimson;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
}

.shadowCursor{
    width: 3em;
    height: 3em;
    background-color: crimson;
    border-radius: 50%;
    filter: blur(1.5em);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
    /* transition: all linear 0.5s; */

}





